@media screen and (max-width: 640px) {
.characterdata img {
border-radius: 0px !important;
border-color: #0fd6ab !important;
border-style: dashed !important;
border-width: 2px !important;
}


    }
@keyframes slideFadeInLeft {
      0% {
        opacity: 0;
        transform: translateX(-100px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes fadeInCenter {
      0% {
        opacity: 0;
        transform: scale(0.9);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes slideFadeInRight {
      0% {
        opacity: 0;
        transform: translateX(100px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
li.active-filter {
  background-color: #112743fc !important;
    color: #1bc299;
}
    @keyframes fadeUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    #rick {
      animation: slideFadeInLeft 1s ease forwards;
    }

    #and {
      animation: fadeInCenter 1s ease forwards;
      animation-delay: 0.8s;
    }

    #morty {
      animation: slideFadeInRight 1s ease forwards;
      animation-delay: 1.6s;
    }

    #footer {
      animation: fadeUp 1s ease forwards;
      animation-delay: 2.2s;
    }

    .hidden-before-anim {
      opacity: 0;
    }
     @keyframes slideUpFade {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .footer-animate {
      animation: slideUpFade 0.8s ease-out forwards;
    }

    .hidden-before-anim {
      opacity: 0;
    } 

.characterdata {
background-image: linear-gradient(to right, #558181, #2d81a8);
  padding: 25px;
  border-radius: 19px;
animation: fadeInCenter 1s ease forwards;
  width: 99%;
  cursor: pointer;
  box-shadow: 3px 3px 15px #1111118f;
}
.characterdata:hover {
background-color: rgba(10, 156, 201, 0.877);

}
.characterdata:hover .textdata{
color: honeydew;
transition:ease-in-out all 400ms; 
}
.characterdata:hover {
background-image: linear-gradient(to right, #20696975, #2d62a896);
transition: ease-in-out all 400ms;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.textdata {
font-family: "Rubik", sans-serif;
font-size: large;
font-weight: 600;
font-style: oblique;
padding-top:15px;
text-shadow: #1111118f 1px 1px 0px;
color: lch(82.72% 44.1 217.49);
}
.characterdata img {
margin-right: auto;
margin-left:auto;
width: 180px;
border-radius: 100%;
border-width: 3px;
border-style:  dashed ;
border-color: rgba(25, 42, 48, 0.521);
object-fit: cover;
}
.menu {
      color: rgb(0, 96, 157);
    font-family: Creepster, system-ui;
    letter-spacing: 3px;
    position: absolute;
    top: 3.4em;
    left: 50%;
    width: 100%;
    height: 165px;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    z-index: 1000;
    list-style: none;
    padding: 0.2em 0.5em;
    background: rgb(87, 162, 229);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 96, 157);
    border-image: initial;
    border-radius: 0.5em;
    overflow: auto;
}