@keyframes slideFadeInLeft {
      0% {
        opacity: 0;
        transform: translateX(-100px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes fadeInCenter {
      0% {
        opacity: 0;
        transform: scale(0.9);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    @keyframes slideFadeInRight {
      0% {
        opacity: 0;
        transform: translateX(100px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
li.active-filter {
  background-color: #f97316 !important;
  color: white;
}
    @keyframes fadeUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    #rick {
      animation: slideFadeInLeft 1s ease forwards;
    }

    #and {
      animation: fadeInCenter 1s ease forwards;
      animation-delay: 0.8s;
    }

    #morty {
      animation: slideFadeInRight 1s ease forwards;
      animation-delay: 1.6s;
    }

    #footer {
      animation: fadeUp 1s ease forwards;
      animation-delay: 2.2s;
    }

    .hidden-before-anim {
      opacity: 0;
    }
     @keyframes slideUpFade {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .footer-animate {
      animation: slideUpFade 0.8s ease-out forwards;
    }

    .hidden-before-anim {
      opacity: 0;
    } 

.characterdata {
  background-color:#348acc;
  padding: 25px;
  border-radius: 19px;
animation: fadeInCenter 1s ease forwards;
  width: 99%;
  cursor: pointer;
  box-shadow: 3px 3px 15px #1111118f;
}
.characterdata:hover {
background-color: rgba(10, 156, 201, 0.877);

}
.characterdata:hover .textdata{
color: honeydew;
transition:ease-in-out all 400ms; 
}

.textdata {
font-family: "Rubik", sans-serif;
font-size: large;
font-weight: 600;
font-style: oblique;
padding-top:15px;
color: rgba(2, 14, 119, 0.993);
}
.characterdata img {
margin-right: auto;
margin-left:auto;
width: 180px;
border-radius: 100%;
border-width: 2px;
border-collapse: collapse;
border-color: black;
object-fit: cover;
}
.menu {
      color: rgb(0, 96, 157);
    font-family: Creepster, system-ui;
    letter-spacing: 3px;
    position: absolute;
    top: 3.4em;
    left: 50%;
    width: 100%;
    height: 165px;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    z-index: 1000;
    list-style: none;
    padding: 0.2em 0.5em;
    background: rgb(87, 162, 229);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 96, 157);
    border-image: initial;
    border-radius: 0.5em;
    overflow: auto;
}